<p class='comment-body'>
  {{#if isEditing}}
    {{x-textarea
       disabled=updateComment.isRunning
       value=model.body}}
    <button
      onClick={{action 'cancelEdit'}}>
      Cancel
    </button>
    <button
      disabled={{updateComment.isRunning}}
      onClick={{perform updateComment}}>
      Save
    </button>
  {{else}}
    {{model.body}}
  {{/if}}
</p>

<button class="delete-indicator"
      onClick={{delete-comment}}>
</button>
<button class="edit-indicator"
  onClick={{action (mut isEditing) true}}>
</button>

{{#if model.updatedAt}}
  <span class="posted-at">
    {{moment-from-now model.updatedAt}}
  </span>
{{/if}}