{{outlet}}

{{#x-card
  title='Settings' as |api|}}
  {{#x-simple-card cardApi=api as |simpleApi|}}
    I'm inside the <b>component</b>
    <em>{{api.b}}</em>

    <button onClick={{api.actions.toggleTitle}}>
      hide title
    </button>

    {{simpleApi.ui.footer}}

  {{/x-simple-card}}
{{/x-card}}


{{#x-modal isOpen=modalOpen opts=modalOps}}
  <p>Body</p>
  <button>Click Me</button>
{{/x-modal}}

<button onClick={{action (mut modalOpen) true }}>Open My Modal</button>